<div class="row">
  <div class="col-6" *ngIf="nbrEcheances && nbrEcheances > 0">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>N°</th>
          <th>Date échéance</th>
          <th>Montant Capital</th>
          <th>Montant Intéret</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let echeance of echeancier.slice(0, 12); let i = index"
          class="text-danger"
          [ngClass]="{ 'text-success': getEtatEcheance(echeance) }"
        >
          <td class="text-center">{{ 1 + i }}</td>
          <td class="text-center">
            {{ echeance.dateEcheance | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-right">{{ echeance.capital | number }} FCFA</td>
          <td class="text-right">{{ echeance.interet | number }} FCFA</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6" *ngIf="nbrEcheances && nbrEcheances >= 13">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>N°</th>
          <th>Date échéance</th>
          <th>Montant Capital</th>
          <th>Montant Intéret</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let echeance of echeancier.slice(12); let i = index">
          <td class="text-center">{{ 13 + i }}</td>
          <td class="text-center">
            {{ echeance.dateEcheance | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-right">{{ echeance.capital | number }} FCFA</td>
          <td class="text-right">{{ echeance.interet | number }} FCFA</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
