<div class="row d-flex align-items-center">
  <div class="col-lg-1 col-md-12 col-sm-12 text-center">
    <input
      type="checkbox"
      [name]="'echeance_' + echeance.id"
      [id]="'echeance_' + echeance.id"
      (click)="sendEcheance()"
    />
  </div>
  <div class="col-lg-1 col-md-12 col-sm-12 text-center">
    {{ index + 1 }}
  </div>
  <div class="col-lg-2 col-md-12 col-sm-12 text-center">
    {{ echeance.dateEcheance | date : "dd/MM/yyyy" }}
  </div>
  <div
    class="col-lg-2 col-md-12 col-sm-12 text-lg-right text-md-center text-sm-center"
  >
    {{ montantEcheance() | number }} FCFA
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="echeance.creditId">
    <app-detail-credit [idCredit]="echeance.creditId"></app-detail-credit>
  </div>
</div>
