<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      <i class="fa fa-list"></i> Liste des sexes
    </h1>
    <span>
      <app-bouton-action
        (newEvent)="newEvent()"
        [afficheNew]="true"
      ></app-bouton-action>
    </span>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3"></div>
    <div class="card-body liste">
      <div class="list-group" *ngIf="sexes$ | async as sexes">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action mb-2 shadow-sm rounded border"
          aria-current="true"
          *ngFor="let sexe of sexes | sort : ['nom', 'asc']"
        >
          <div class="row" (click)="navigate(sexe.id)">
            <div class="col-12">
              <app-detail-sexe [sexe]="sexe"></app-detail-sexe>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
