<div class="row mb-1">
  <div class="col-12 p-0">
    <div class="card border">
      <div class="card-body p-1">
        <div class="row rounded-start">
          <div class="col-md-2 cadre-photo-membre-liste border-end">
            <img
              src="{{ photo }}"
              alt=""
              class="rounded-start membre-liste img-thumbnail"
            />
          </div>
          <div class="col-md-4 border-end">
            <div class="row">
              <div class="col-1 text-primary">
                <i class="fa fa-info-circle"></i>
              </div>
              <div class="col-11">Nom utilisateur</div>
            </div>
            <div class="row">
              <div class="col-1 text-primary">
                <i class="fa fa-info-circle"></i>
              </div>
              <div class="col-11">sexe</div>
            </div>
          </div>
          <div class="col-md-3 border-end">
            <div class="row">
              <div class="col-1 text-primary">
                <i class="fas fa-phone-alt"></i>
              </div>
              <div class="col-11">contact</div>
            </div>
            <div class="row">
              <div class="col-1 text-primary">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="col-11">email</div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between">
                <button class="btn btn-link">
                  <i class="fas fa-pencil-alt"></i>&nbsp; Modifier
                </button>
                <button class="btn btn-link text-danger">
                  <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
                </button>
                <button class="btn btn-link">
                  <i class="far fa-list-alt"></i>&nbsp;Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
