<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      <i class="fa fa-list"></i> Informations du membre
    </h1>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body liste">
      <div class="row">
        <div class="col-3">
          <app-fiche-membre [membre]="membre"></app-fiche-membre>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-4">
              <app-infos-stats
                [infos]="cotisations"
                [value]="totalCotisations"
              ></app-infos-stats>
            </div>
            <div class="col-4">
              <app-infos-stats [infos]="avances"></app-infos-stats>
            </div>
            <div class="col-4">
              <app-infos-stats [infos]="credits"></app-infos-stats>
            </div>
          </div>
          <div class="row">les détails</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
