<div class="row">
  <div class="col-md-1 col-sm-12 text-center">
    <img
      [src]="imagesUrl + '/assets/images/' + membre.photo"
      class="rounded-circle img-fluid"
    />
  </div>
  <div class="col-md-11 col-sm-12 text-md-left text-sm-center">
    <h5 class="{{ size }}">
      {{ utilisateur.nomUtilisateur | uppercase }}
    </h5>
    <small class="text-primary">
      <span>
        <i class="fa fa-user"></i>
        {{ membre.nom | uppercase }}
      </span>
    </small>
  </div>
</div>
