<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-4">
    <h1
      class="h3 mb-0 text-gray-800 col-lg-6 col-md-12 col-sm-12 text-lg-left text-md-center text-sm-center"
    >
      <i class="fa fa-list"></i> Liste des avances
    </h1>
    <span
      class="col-lg-6 col-md-12 col-sm-12 text-lg-right text-md-center text-sm-center"
    >
      <app-bouton-action
        (newEvent)="newEvent()"
        [afficheNew]="true"
      ></app-bouton-action>
    </span>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="search" class="btn btn-primary shadow-sm">
                <i class="fa fa-search"></i>
              </label>
            </div>
            <input
              type="search"
              class="form-control shadow-sm"
              name="search"
              id="search"
              [formControl]="searchCtrl"
              placeholder="Rechercher..."
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="status" class="btn btn-primary shadow-sm">
                <i class="fa fa-filter"></i>
              </label>
            </div>
            <select
              name="status"
              id="status"
              class="form-control shadow-sm"
              [formControl]="statusPretCtrl"
            >
              <option
                *ngFor="let option of statusPretOptions"
                [value]="option.value"
              >
                {{ option.label }}
              </option>
            </select>
            <div class="input-group-append">
              <label class="btn btn-primary shadow-sm" (click)="effacer()">
                <i class="fa fa-eraser"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body liste">
      <div class="list-group" *ngIf="avances$ | async as avances">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action mb-2 shadow-sm rounded border"
          aria-current="true"
          *ngFor="
            let avance of avances
              | sort : ['dateDemande', 'desc']
              | sort : ['id', 'desc']
          "
        >
          <div
            class="row"
            (click)="
              navigate(
                avance.id,
                avance.membreId ?? 0,
                avance.deboursementId ?? 0
              )
            "
          >
            <div class="col-12">
              <app-detail-avance [idAvance]="avance.id"></app-detail-avance>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
