<div id="wrapper">
  <!-- Menu latéral -->
  <app-menu-lateral></app-menu-lateral>
  <!-- Fin Menu latéral -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-entete></app-entete>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <router-outlet></router-outlet>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-pied-page></app-pied-page>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
