<div class="card card-shadow">
  <div class="card-header bg-primary">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <input
          type="search"
          class="form-control"
          placeholder="Recherche..."
          [formControl]="searchCtrl"
        />
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="membres$ | async as membres">
      <div class="col-md-12 col-sm-12 liste">
        <div
          class="row card shadow-sm mb-1"
          *ngFor="let membre of membres | sort : ['nom', 'asc']"
          (click)="sendMembre(membre)"
        >
          <div class="col-12">
            <div class="row p-1 d-sm-flex align-items-center">
              <div class="col-sm-2">
                <img
                  src="{{ imagesUrl }}/assets/images/{{ membre.photo }}"
                  class="rounded-circle"
                />
              </div>
              <div class="col-sm-10 text-truncate">
                {{ membre.nom | uppercase }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
