<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      <i class="fa fa-list"></i> Les cotisations
    </h1>
    <span>
      <app-bouton-action
        (importEvent)="importEvent()"
        [afficheImport]="true"
      ></app-bouton-action>
    </span>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <app-filtre-membre
        (membresFound)="membresFound($event)"
      ></app-filtre-membre>
    </div>
    <div class="card-body liste">
      <div class="list-group">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action mb-2 shadow-sm rounded border"
          aria-current="true"
          *ngFor="let membre of membres | sort : ['nom', 'asc']"
        >
          <div class="row" (click)="navigate(membre.id)">
            <div class="col-12">
              <app-detail-cotisation [membre]="membre"></app-detail-cotisation>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
