<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-4">
    <h1
      class="h3 mb-0 text-gray-800 col-12 text-lg-left text-md-center text-sm-center"
    >
      <i class="fa fa-list"></i> Liste des échéances crédits
    </h1>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="search" class="input-group-text"
                ><i class="fa fa-search"></i
              ></label>
            </div>
            <input
              type="search"
              class="form-control"
              name="search"
              id="search"
              [formControl]="searchCtrl"
              placeholder="Rechercher..."
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="dateEcheance" class="input-group-text"
                ><i class="fa fa-calendar"></i
              ></label>
            </div>
            <input
              type="date"
              class="form-control"
              id="dateEcheance"
              name="dateEcheance"
              [formControl]="dateEcheanceCtrl"
              placeholder="Date Echéances"
            />
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="d-flex justify-content-between">
            <button
              type="botton"
              class="btn btn-success shadow-sm"
              data-toggle="modal"
              data-target="#formulaire"
              (click)="payer()"
              [disabled]="echeancier.length == 0"
            >
              <i class="fa fa-check-circle"></i> Payer
            </button>
            <button
              type="botton"
              class="btn btn-primary shadow-sm"
              data-toggle="modal"
              data-target="#formulaire"
              (click)="decaler()"
              [disabled]="true"
            >
              <i class="fa fa-arrow-circle-right"></i> Décaler
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body liste">
      <div class="list-group" *ngIf="echeances$ | async as echeances">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action mb-2 shadow-sm rounded border"
          aria-current="true"
          *ngFor="
            let echeance of echeances
              | sort : ['avanceId', 'desc']
              | sort : ['dateEcheance', 'desc'];
            let i = index
          "
        >
          <div class="row">
            <div class="col-12">
              <app-detail-echeance-credit
                [index]="i"
                [echeance]="echeance"
                (echeanceChoisie)="addEcheance($event)"
              ></app-detail-echeance-credit>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<div
  id="formulaire"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="formulaire"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded-5 shadow">
      <app-payer-echeances-credits
        *ngIf="formulaire == 1"
        [echeancier]="echeancier"
        (echeancesPayer)="viderEcheancier()"
      ></app-payer-echeances-credits>
      <app-decaler-echeances-credits
        *ngIf="formulaire == 2"
        [echeancier]="echeancier"
      ></app-decaler-echeances-credits>
    </div>
  </div>
</div>
