<div class="row">
  <div class="col-6">
    <app-details-membre [membre]="membre"></app-details-membre>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col text-right">
            <div class="row">
              <div class="col text-danger text-right" *ngIf="status == 0">
                {{ credit.dateDemande | date : "dd/MM/yyyy" }}
              </div>
              <div class="col">
                <h5>
                  <span
                    class="badge"
                    [ngClass]="{
                      'badge-success': status === 3,
                      'badge-warning': status === 2,
                      'badge-danger': status === 1,
                      'badge-primary': status === 0
                    }"
                    >{{ getStatusString() }}</span
                  >
                </h5>
              </div>
            </div>
            <h5 class="text-success text-right" *ngIf="status != 0">
              {{ solde | number }} FCFA
            </h5>
            <h5 class="text-success text-right" *ngIf="status == 0">
              {{ credit.montantSollicite | number }} FCFA
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
