<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-3">
    <div class="col-md-8">
      <h1 class="mb-2 text-gray-800">
        <i class="fa fa-list"></i> Liste des utilisateurs
      </h1>
    </div>
    <div class="col-md-4">
      <app-bouton-action (newEvent)="nouvelUtilisateur()"></app-bouton-action>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3"></div>
    <div class="card-body">
      <div class="list-group" *ngIf="utilisateurs$ | async as utilisateurs">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action"
          aria-current="true"
          *ngFor="let utilisateur of utilisateurs | sort : ['login', 'asc']"
        >
          <app-details-utilisateur
            [utilisateur]="utilisateur"
          ></app-details-utilisateur>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
