<div class="row">
  <div class="col-6" *ngIf="nbrEcheances && nbrEcheances > 0">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>N°</th>
          <th>Date échéance</th>
          <th>Montant échéance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let echeance of echeancier.slice(0, 5); let i = index">
          <td class="text-center">{{ 1 + i }}</td>
          <td class="text-center">
            {{ echeance.dateEcheance | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-right">
            {{ echeance.montantEcheance | number }} FCFA
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6" *ngIf="nbrEcheances && nbrEcheances >= 6">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>N°</th>
          <th>Date échéance</th>
          <th>Montant échéance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let echeance of echeancier.slice(5); let i = index">
          <td class="text-center">{{ 6 + i }}</td>
          <td class="text-center">
            {{ echeance.dateEcheance | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-right">
            {{ echeance.montantEcheance | number }} FCFA
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
