<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-3">
    <div class="col-md-8">
      <h1 class="mb-2 text-gray-800">
        <i class="fa fa-list"></i> Liste des gabarits
      </h1>
    </div>
    <div class="col-md-4">
      <app-bouton-action
        (newEvent)="nouveauGabarit()"
        (exportEvent)="exportGabarits()"
        (importEvent)="importGabarits()"
      ></app-bouton-action>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des gabarits</h6>
    </div>
    <div class="card-body">
      <div class="list-group">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action"
          aria-current="true"
          *ngFor="let gabarit of gabarits"
          [ngClass]="{
            'border-left-success text-success': gabarit.estActif,
            'border-left-danger text-danger': !gabarit.estActif
          }"
        >
          <div class="row" (click)="navigate(gabarit.id)">
            <div class="col-12">
              <app-detail-gabarit [gabarit]="gabarit"></app-detail-gabarit>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
