<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      <i class="fa fa-info-circle text-primary"></i>
      &nbsp;Importation des membres
    </h1>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <input
            type="file"
            name="fichier"
            id="fichier"
            accept=".xlsx"
            class="form-control"
            (change)="getFile($event)"
          />
        </div>
        <div class="col-md-8 col-sm-6 text-right">
          <button
            class="d-none d-sm-inline-block btn btn-primary shadow-sm mr-1"
            (click)="chargerInfos()"
            *ngIf="estCharger"
          >
            Afficher les infos
          </button>
          <button
            class="d-none d-sm-inline-block btn btn-primary shadow-sm"
            (click)="importer()"
          >
            <i class="fa fa-save"></i> Enregistrer
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row entete">
        <div class="col">Nom</div>
        <div class="col">Etat</div>
        <div class="col">Sexe</div>
        <div class="col">Poste</div>
        <div class="col">Affectation</div>
        <div class="col">Date de naissance</div>
        <div class="col">Date d'adhésion</div>
        <div class="col">Lieu de naissance</div>
        <div class="col">Contact</div>
      </div>
      <div class="row liste">
        <div class="col-12">
          <div
            class="row"
            *ngFor="let membre of worksheet; let i = index"
            [ngClass]="{ 'ligne-colore': i % 2 }"
          >
            <div class="col">{{ membre.nom }}</div>
            <div class="col">{{ membre.etat }}</div>
            <div class="col">{{ membre.sexe }}</div>
            <div class="col">{{ membre.titre }}</div>
            <div class="col">{{ membre.libelle }}</div>
            <div class="col">{{ membre.date_naissance | date }}</div>
            <div class="col">{{ membre.date_embauche | date }}</div>
            <div class="col">{{ membre.lieu_naissance }}</div>
            <div class="col">{{ membre.telephone }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
