.liste {
  height: 420px;
  overflow-y: auto;
  font-size: small;
}

.entete {
  font-weight: bold;
  text-align: center;
  font-size: small;
}

.ligne-colore {
  background-color: rgba(0, 0, 0, 0.1);
}
