<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-4">
    <h1
      class="h3 mb-0 text-gray-800 col-lg-8 col-md-12 col-sm-12 text-lg-left text-md-center text-sm-center"
    >
      <i class="fa fa-info-circle text-primary"></i>
      &nbsp;Informations du membre
    </h1>
    <h1
      class="h3 mb-0 text-gray-800 col-lg-4 col-md-12 col-sm-12 text-lg-right text-md-center text-sm-center"
    >
      {{ solde | number }} FCFA
    </h1>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <app-infos-membre
            *ngIf="membre$ | async as membre"
            [membre]="membre"
          ></app-infos-membre>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12">
          <div class="row mb-2 d-flex justify-content-between">
            <div class="col">
              <a
                href="javascript:void(0);"
                (click)="onGoBack()"
                class="btn btn-primary shadow-sm rounded-circle"
                ><i class="fa fa-arrow-left"></i
              ></a>
            </div>
            <div class="col text-right">
              <button
                class="d-none d-sm-inline-block btn btn-warning shadow-sm mr-2"
                (click)="generatePdf()"
              >
                <i class="fa fa-print"></i>
              </button>
              <button
                class="d-none d-sm-inline-block btn btn-primary shadow-sm"
                (click)="addMouvement()"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 liste">
              <table
                *ngIf="mouvements$ | async as mouvements"
                class="table table-striped table-sm table-hover"
              >
                <thead>
                  <tr class="text-center">
                    <th scope="col">N°</th>
                    <th scope="col">Date</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Débit</th>
                    <th scope="col">Crédit</th>
                    <th scope="col">Solde</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let mouvement of mouvements
                        | sort : ['id', 'incr']
                        | sort : ['dateMvt', 'incr'];
                      let i = index
                    "
                  >
                    <th scope="row" class="text-center">{{ i + 1 }}</th>
                    <td class="text-center">
                      {{ mouvement.dateMvt | date : "dd/MM/yyyy" }}
                    </td>
                    <td class="text-truncate">
                      {{ mouvement.libelle }}
                    </td>
                    <td class="text-right">
                      {{
                        (estDebit(mouvement) ? mouvement.montant : 0) | number
                      }}
                    </td>
                    <td class="text-right">
                      {{
                        (!estDebit(mouvement) ? mouvement.montant : 0) | number
                      }}
                    </td>
                    <td class="text-right">
                      {{ getSolde(i, mouvements) | number }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
