.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../../../assets/img/background_2.jpg);
  background-size: cover;
}

.login-content {
  opacity: 0.9;
}
