<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-3">
    <div class="col-md-8">
      <h1 class="mb-2 text-gray-800">
        <i class="fa fa-list"></i> Liste des postes
      </h1>
    </div>
    <div class="col-md-4">
      <app-bouton-action
        (newEvent)="nouveauPoste()"
        [afficheNew]="true"
      ></app-bouton-action>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des postes</h6>
    </div>
    <div class="card-body">
      <div class="list-group">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action border-left-primary"
          aria-current="true"
          *ngFor="let poste of postes | sort : ['libelle', 'asc']"
        >
          <div class="row" (click)="navigate(poste.id)">
            <div class="col-12">
              <app-detail-poste [poste]="poste"></app-detail-poste>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
