<!-- <div class="row">
  <div class="col">
    {{ mouvements | json }}
  </div>
</div> -->
<div class="row liste" *ngIf="echeancier">
  <table class="table table-striped table-sm table-border table-hover">
    <thead>
      <tr class="text-center">
        <th>N°</th>
        <th>Date échéance</th>
        <th>Montant écheance</th>
        <th>Montant payé</th>
        <th>Solde</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let echeance of echeancier; let i = index">
        <td class="text-center">{{ 1 + i }}</td>
        <td class="text-center">
          {{ echeance.dateEcheance | date : "dd/MM/yyyy" }}
        </td>
        <td class="text-right">{{ montantEcheance(echeance) | number }}</td>
        <td class="text-right">{{ montantPaye(echeance) | number }}</td>
        <td class="text-right">{{ soldeEcheance(echeance) | number }}</td>
      </tr>
    </tbody>
  </table>
</div>
