.entente {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.ligne {
  border-bottom: 1px solid black;
}

.liste {
  height: 300px;
  overflow-y: auto;
}
