<div class="row" *ngIf="echeancier.length != 0">
  <table class="table table-striped table-sm table-border table-hover">
    <thead>
      <tr class="text-center">
        <th>N°</th>
        <th>Date échéance</th>
        <th *ngIf="afficheCapital">Capital (Fcfa)</th>
        <th *ngIf="afficheInteret">Interêts (Fcfa)</th>
        <th>Montant échéance (Fcfa)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let echeance of echeancier; let i = index">
        <td class="text-center">{{ 1 + i }}</td>
        <td class="text-center">
          {{ echeance.dateEcheance | date : "dd/MM/yyyy" }}
        </td>
        <td *ngIf="afficheCapital" class="text-right">
          {{ echeance.capital | number }}
        </td>
        <td *ngIf="afficheInteret" class="text-right">
          {{ echeance.interet | number }}
        </td>
        <td class="text-right">{{ calculSolde(echeance) | number }}</td>
      </tr>
    </tbody>
  </table>
</div>
