<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      <i class="fa fa-list"></i> Liste des échéances avances
    </h1>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex align-items-center">
      <form class="form-inline">
        <div class="input-group mr-2">
          <div class="input-group-prepend">
            <label for="search" class="btn btn-primary shadow-sm">
              <i class="fa fa-search"></i>
            </label>
          </div>
          <input
            type="search"
            class="form-control shadow-sm"
            name="search"
            id="search"
            [formControl]="searchCtrl"
            placeholder="Rechercher..."
          />
        </div>
        <div class="input-group shadow-sm mr-2">
          <div class="input-group-prepend">
            <label for="dateEcheance" class="input-group-text"
              >Date Echéances:</label
            >
          </div>
          <input
            type="date"
            class="form-control"
            id="dateEcheance"
            name="dateEcheance"
            [formControl]="dateEcheanceCtrl"
            placeholder="Date Echéances"
          />
          <div class="input-group-append">
            <button class="btn btn-primary shadow-sm" (click)="effacer()">
              <i class="fa fa-list-alt"></i>
            </button>
          </div>
        </div>
        <div>
          <button
            type="botton"
            class="btn btn-success shadow-sm mr-2"
            data-toggle="modal"
            data-target="#formulaire"
            (click)="payer()"
            [disabled]="echeancier.length == 0"
          >
            <i class="fa fa-check-circle"></i> Payer
          </button>
          <button
            type="botton"
            class="btn btn-primary shadow-sm"
            data-toggle="modal"
            data-target="#formulaire"
            (click)="decaler()"
            [disabled]="true"
          >
            <i class="fa fa-arrow-circle-right"></i> Décaler
          </button>
        </div>
      </form>
    </div>
    <div class="card-body liste">
      <div class="list-group" *ngIf="echeances$ | async as echeances">
        <a
          href="javascript:void(0);"
          class="list-group-item list-group-item-action mb-2 shadow-sm rounded border"
          aria-current="true"
          *ngFor="
            let echeance of echeances
              | sort : ['avanceId', 'desc']
              | sort : ['dateEcheance', 'desc'];
            let i = index
          "
        >
          <div class="row">
            <div class="col-12">
              <app-detail-echeance-avance
                [index]="i"
                [echeance]="echeance"
                (echeanceChoisie)="addEcheance($event)"
              ></app-detail-echeance-avance>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<div
  id="formulaire"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="formulaire"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded-5 shadow">
      <app-payer-echeances-avances
        *ngIf="formulaire == 1"
        [echeancier]="echeancier"
        (echeancesPayer)="viderEcheancier()"
      ></app-payer-echeances-avances>
      <app-decaler-echeances-avances
        *ngIf="formulaire == 2"
        [echeancier]="echeancier"
      ></app-decaler-echeances-avances>
    </div>
  </div>
</div>
