<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-4">
    <h1
      class="h3 mb-0 text-gray-800 col-lg-6 col-md-12 text-lg-left text-md-center"
    >
      <i class="fa fa-info-circle text-primary"></i>
      &nbsp;Informations sur l'avance
    </h1>
    <h2
      class="h3 mb-2 text-gray-800 mis-en-avant col-lg-6 col-md-12 text-lg-right text-md-center"
      *ngIf="solde"
    >
      {{ solde | number }} FCFA
    </h2>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div>
        <div class="row m-3">
          <div class="col-lg-3 col-md-12">
            <div *ngIf="membre$ | async as membre; else elseBlock">
              <app-infos-membre [membre]="membre"></app-infos-membre>
            </div>
            <ng-template #elseBlock
              ><a data-toggle="modal" data-target="#chooseMember">
                <app-infos-membre [membre]="membre"></app-infos-membre> </a
            ></ng-template>
          </div>
          <div class="col-lg-9 col-md-12">
            <div class="row mb-2">
              <div class="col-12 d-flex justify-content-between">
                <a
                  href="javascript:void(0);"
                  (click)="onGoBack()"
                  class="btn btn-primary rounded-circle shadow-sm"
                  ><i class="fa fa-arrow-left"></i
                ></a>
                <div class="d-flex justify-content-between align-items-center">
                  <button
                    type="button"
                    class="d-none d-sm-inline-block btn btn-success shadow-sm"
                    (click)="enregistrerAvance()"
                    *ngIf="!avanceExiste && avanceForm.valid"
                  >
                    <i class="fa fa-save"></i>
                  </button>
                  <button
                    type="button"
                    class="d-none d-sm-inline-block btn btn-success shadow-sm"
                    (click)="enregistrerDecision()"
                    *ngIf="!deboursementExiste && debourForm.valid"
                  >
                    <i class="fa fa-save"></i>
                  </button>
                  <button
                    type="button"
                    class="d-none d-sm-inline-block btn btn-success shadow-sm"
                    (click)="enregistrerEcheancier()"
                    *ngIf="deboursement$ && echeancierGenerer"
                  >
                    <i class="fa fa-save"></i>
                  </button>
                  <!-- <button
                    type="button"
                    class="d-none d-sm-inline-block btn btn-success shadow-sm"
                    (click)="debourser()"
                    *ngIf="
                      !mouvements &&
                      echeancier &&
                      echeancier.length != 0 &&
                      !echeancierGenerer
                    "
                  >
                    <i class="fa fa-coins"></i>
                  </button> -->
                </div>
              </div>
            </div>
            <nav class="nav nav-tabs">
              <a
                class="nav-item nav-link active"
                href="#infosDemande"
                data-toggle="tab"
                >Demande</a
              >
              <a
                class="nav-item nav-link"
                href="#decisionComite"
                data-toggle="tab"
                *ngIf="avance"
                >Décision</a
              >
              <a
                class="nav-item nav-link"
                href="#echeancier"
                data-toggle="tab"
                *ngIf="deboursement"
                >Echéancier</a
              >
            </nav>
            <div class="tab-content">
              <div class="tab-pane active" id="infosDemande">
                <div class="p-3" [formGroup]="avanceForm">
                  <input type="hidden" name="idAvance" formControlName="id" />
                  <input
                    type="hidden"
                    name="membreId"
                    formControlName="membreId"
                  />
                  <div class="row">
                    <div class="form-group col-lg-6 col-md-12">
                      <label for="montantSollicite" class="form-label"
                        >Montant sollicité:
                        <span class="mis-en-avant text-primary">{{
                          montantSolliciteCtrl.value | number
                        }}</span
                        ><span> FCFA</span></label
                      >
                      <input
                        type="number"
                        id="montantSollicite"
                        class="form-control shadow-sm"
                        name="montantSollicite"
                        placeholder="Montant sollicité"
                        formControlName="montantSollicite"
                        [attr.disabled]="avance"
                      />
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                      <label for="nombreEcheancesSollicite" class="form-label"
                        >Nombre d'échéances sollicité</label
                      >
                      <input
                        type="number"
                        id="nombreEcheancesSollicite"
                        class="form-control shadow-sm"
                        name="nombreEcheancesSollicite"
                        placeholder="Nombre d'échéances"
                        formControlName="nombreEcheancesSollicite"
                        [attr.disabled]="avance"
                      />
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                      <label for="dateDemande" class="form-label"
                        >Date de la demande</label
                      >
                      <input
                        type="date"
                        id="dateDemande"
                        class="form-control shadow-sm"
                        name="dateDemande"
                        placeholder="Date de la demande"
                        formControlName="dateDemande"
                        [attr.disabled]="avance"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="decisionComite">
                <div class="p-3" [formGroup]="debourForm">
                  <div class="row">
                    <div class="form-group col-lg-6 col-md-12">
                      <label for="montantAccorde" class="form-label"
                        >Montant Accordé:
                        <span class="mis-en-avant text-primary">{{
                          montantAccordeCtrl.value | number
                        }}</span
                        ><span> FCFA</span></label
                      >
                      <input
                        type="number"
                        id="montantApprouve"
                        class="form-control shadow-sm"
                        name="montantAccorde"
                        formControlName="montantAccorde"
                        placeholder="Montant accordé"
                        [attr.disabled]="deboursement"
                      />
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                      <label for="dureeAccordee" class="form-label"
                        >Nombre d'échéances sollicité</label
                      >
                      <input
                        type="number"
                        id="dureeAccordee"
                        class="form-control shadow-sm"
                        name="dureeAccordee"
                        formControlName="dureeAccordee"
                        placeholder="Durée Accordée"
                        [attr.disabled]="deboursement"
                      />
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                      <label for="dateDecaissement" class="form-label"
                        >Date du décaissement</label
                      >
                      <input
                        type="date"
                        id="dateDecaissement"
                        class="form-control shadow-sm"
                        name="dateDecaissement"
                        formControlName="dateDecaissement"
                        placeholder="Date du décaissement"
                        [attr.disabled]="deboursement"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="echeancier">
                <div class="p-3">
                  <button
                    class="btn btn-primary btn-sm"
                    *ngIf="!echeancier"
                    (click)="genererEcheancier()"
                  >
                    Générer l'échéancier
                  </button>
                  <app-echeancier
                    *ngIf="echeancier"
                    [echeancier]="echeancier"
                    [nbrEcheances]="nbrEcheances"
                    [mouvements]="mouvements"
                  ></app-echeancier>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="chooseMember"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="chooseMember"
  aria-hidden="true"
>
  <app-liste-choix-membre
    (membreChoisie)="membreChoisie($event)"
  ></app-liste-choix-membre>
</div>
