<div class="row">
  <div class="col-lg-2 col-md-12 col-sm-12 text-center">
    <img
      [src]="imagesUrl + '/assets/images/' + membre.photo"
      class="rounded-circle img-fluid"
    />
  </div>
  <div
    class="col-lg-10 col-md-12 col-sm-12 text-lg-left text-md-center text-sm-center"
  >
    <h5
      class="text-truncate"
      [ngClass]="{
        'text-success': membre.estActif,
        'text-danger': !membre.estActif
      }"
    >
      {{ membre.nom | uppercase }}
    </h5>
    <small class="text-primary text-truncate">
      <span *ngIf="sexe$ | async as sexe">
        <i class="fa fa-venus-mars"></i>
        {{ sexe.nom | uppercase }} |
      </span>
      <span *ngIf="poste$ | async as poste">
        <i class="fa fa-sitemap"></i>
        {{ poste.libelle | uppercase }} |
      </span>
      <span *ngIf="lieu$ | async as lieu">
        <i class="fa fa-building"></i>
        {{ lieu.lieu | uppercase }}
      </span>
    </small>
  </div>
</div>
