<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      <i class="fa fa-info-circle text-primary"></i>
      &nbsp;Informations sur le lieu d'affectation
    </h1>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-sm-12 border-end text-primary text-center">
          <img [src]="photo" alt="photo lieu affectation" />
        </div>
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <a
                href="javascript:void(0);"
                (click)="cancel()"
                class="btn btn-primary rounded-circle shadow-sm"
              >
                <i class="fa fa-arrow-left"></i>
              </a>
              <div class="group">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="enregistrer()"
                  [disabled]="lieuAffectationForm.invalid"
                >
                  <i class="fa fa-save"></i>&nbsp; Enregistrer
                </button>
              </div>
            </div>
          </div>
          <hr />
          <div class="col-md-12">
            <div class="row" [formGroup]="lieuAffectationForm">
              <input type="hidden" name="id" formControlName="id" />
              <div class="form-group col-md-6">
                <label for="lieu">Nom</label>
                <input
                  type="text"
                  id="lieu"
                  class="form-control"
                  name="lieu"
                  formControlName="lieu"
                  placeholder="Le nom du lieu d'affectation"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
