<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mb-3">
    <div class="col-md-8">
      <h1 class="mb-2 text-gray-800">
        <i class="fa fa-info-circle text-primary"></i> Informations du lieu
        d'affectation
      </h1>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Formulaire d'ajout d'un lieu d'affectation
      </h6>
    </div>

    <div class="card-body">
      <div class="row m-3">
        <div class="col-md-2 border-end text-primary">
          <img src="{{ photo }}" alt="photo gabarit" />
        </div>
        <div class="col-md-10">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between">
                <a href="javascript:void(0);" (click)="cancel()"
                  ><i class="fa fa-arrow-left"></i> Retour à la liste</a
                >
                <div class="group">
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="enregistrer()"
                  >
                    <i class="fa fa-save"></i>&nbsp; Enregistrer
                  </button>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-md-12">
              <form #membreForm="ngForm">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="lieu">Nom</label>
                    <input
                      type="text"
                      id="lieu"
                      class="form-control"
                      name="lieu"
                      [(ngModel)]="lieuaffectation.lieu"
                      placeholder="Le nom du lieu d'affectation"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
